{% extends "base.html" %}

{% block content %}
<h1>Build A Blog!</h1>
<hr>
<h2>Enter a new post:</h2>
<form method='post'>
    <label>
        Title:
        <input type="text" name="post_title" value={{post_title}}>
    </label>
    <p class="error">{{error_title}}</p>
    <br />
    <label>
        Blog:
        <input type="textarea" name="post_body" value={{post_body}}  >
    </label>
    <p class="error">{{error_blog}}</p>
    <br />
    <input type="submit"/>
</form>

{% for post in posts %}
<h2>{{post.post_title}}</h2>
<p>{{post.post_body}}</p>
{% endfor %}

{% endblock %}